[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
gunicorn = "*"
flask-mongoengine = "*"
mongoengine-goodjson = "*"
mongoengine = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Bcrypt = "*"
Flask-JWT-Extended = "*"
Pillow = "*"
pymongo = "*"
Flask-SocketIO = "*"

[requires]
python_version = "3.8"
